# --- PROJEKT EINSTELLUNGEN ---
project_id = "dein-gcp-projekt-id"
region     = "us-central1"

# --- DATENBANK (ALLOYDB) ---
# Das Passwort für den 'postgres' User in der AlloyDB
db_password = "ein-sehr-sicheres-passwort-hier-einsetzen"
